<div class="cocktail-modal is-hidden" data-cocktail-modal>
  <div class="container">
    <button class="coctail-modal__btn-close" data-cocktail-modal-close>
      <svg class="cocktail-modal__btn-icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="cocktail-modal__content-wrapper">
      <!-- <h2 class="cocktail-modal__title">Negroni</h2>
      <h3 class="cocktail-modal__subtitle cocktail-modal__subtitle--first">
        Instractions:
      </h3>
      <p class="cocktail-modal__description">
        Add the gin, Campari and sweet vermouth to a mixing glass filled with
        ice, and stir until well-chilled. Strain into a rocks glass filled with
        large ice cubes. Garnish with an orange peel.
      </p>
      <img src="#" alt="" class="modal-cocktail__picture" />
      <h3 class="cocktail-modal__subtitle cocktail-modal__subtitle--second">
        INGREDIENTS
      </h3>
      <p class="cocktail-modal__ingredients">Per cocktail</p>
      <ul class="cocktail-modal__list">
        <li class="cocktail-modal__item"><span>✶</span> Ice</li>
        <li class="cocktail-modal__item"><span>✶</span> 1 ounce gin</li>
        <li class="cocktail-modal__item"><span>✶</span> 1 ounce Campari</li>
        <li class="cocktail-modal__item">
          <span>✶</span> 1 ounce sweet vermouth
        </li>
        <li class="cocktail-modal__item">
          <span>✶</span> Garnish: orange peel
        </li>
      </ul>
      <button type="button" class="btn-add-fav">Add to favorite</button> -->
    </div>
  </div>
</div>
