<header class="header">
  <div class="container header__container">
    <a href="index.html" class="header__logo">
      <p class="header__logo-text">COCKTAILS</p>
      <img src="./images/cocktail.svg" alt="" class="header__logo-icon" />
    </a>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="index.html" class="header__nav-link">Home</a>
        </li>
        <li class="header__nav-item header__nav-item-fav">
          <a href="fav-cocktails.html" class="header__nav-link">Favorite</a>
          <!-- <ul class="subnav"> -->
          <!-- <li class="subnav-item">
              <a href="fav-cocktails.html" class="subnav-link"
                >Favorite cocktails</a
              >
            </li> -->
          <!-- <li class="subnav-item">
              <a href="#" class="subnav-link">Favorite ingredients</a>
            </li> -->
          <!-- </ul> -->
        </li>
      </ul>
    </nav>

    <div class="header__tablet-wrapper">
      <form class="header__search-wrapper is-open js-form">
        <button type="submit" class="input-btn">
          <svg class="input-icon">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </button>
        <input
          type="text"
          class="header__search js-input"
          placeholder="Search"
        />
      </form>

      <div class="header__switcher">
        <span class="switcher__text switcher__text--light">Light</span>
        <label class="header__switch">
          <input type="checkbox" class="checkbox" />
          <span class="header__checkbox-bcg"></span>
          <span class="header__slider"></span>
        </label>
        <span class="switcher__text switcher__text--dark">Dark</span>
      </div>

      <button type="button" class="header__menu-btn" data-burger-open>
        <svg class="header__menu-open-icon">
          <use href="./images/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>

    <div class="burger-menu is-hidden" data-burger>
      <div class="container">
        <div class="burger-menu__wrapper">
          <div class="burger-menu__logo-wrapper">
            <a href="index.html" class="header__logo-text burger-menu__logo"
              >COCKTAILS</a
            >
            <div class="switcher">
              <span class="switcher__text switcher__text--light">Light</span>
              <label class="switch">
                <input type="checkbox" class="checkbox" />
                <span class="checkbox-bcg"></span>
                <span class="slider"></span>
              </label>
              <span class="switcher__text switcher__text--dark">Dark</span>
            </div>
          </div>
          <button type="button" data-burger-close>
            <svg class="burger-menu__close-icon">
              <use href="./images/sprite.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <form class="burger-menu__search-wrapper js-form">
          <button type="submit" class="input-btn">
            <svg class="input-icon">
              <use href="./images/sprite.svg#icon-search"></use>
            </svg>
          </button>
          <input
            type="text"
            class="burger-menu__search js-input"
            placeholder="Search"
          />
        </form>
        <nav class="burger-menu__nav">
          <ul class="burger-menu__nav-list">
            <li class="burger-menu__nav-item">
              <a href="index.html" class="burger-menu__nav-link">Home</a>
            </li>
            <li class="burger-menu__nav-item burger-menu__nav-item--fav">
              <a href="fav-cocktails.html" class="burger-menu__nav-link"
                >Favorite</a
              >
              <!-- <svg class="burger-menu__nav-icon">
                <use href="./images/sprite.svg#icon-arrow-down"></use>
              </svg> -->
              <!-- <ul class="subnav"> -->
              <!-- <li class="subnav-item"> -->
              <!-- <a href="fav-cocktails.html" class="subnav-link"
                >Favorite cocktails</a
              > -->
              <!-- </li> -->
              <!-- <li class="subnav-item">
                  <a href="#" class="subnav-link">Favorite ingredients</a>
                </li> -->
              <!-- </ul> -->
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
