<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__content-title">
        A party without cocktails is not like a party
      </h1>
      <p class="hero__content-text">Search your favorite cocktail by ABC</p>
      <select name="alphabet" class="hero__content-select">
        <option value="">A</option>
        <option value="">B</option>
        <option value="">C</option>
        <option value="">D</option>
        <option value="">E</option>
        <option value="">F</option>
        <option value="">G</option>
        <option value="">H</option>
        <option value="">I</option>
        <option value="">J</option>
        <option value="">K</option>
        <option value="">L</option>
        <option value="">M</option>
        <option value="">N</option>
        <option value="">O</option>
        <option value="">P</option>
        <option value="">Q</option>
        <option value="">R</option>
        <option value="">S</option>
        <option value="">T</option>
        <option value="">U</option>
        <option value="">V</option>
        <option value="">W</option>
        <option value="">X</option>
        <option value="">Y</option>
        <option value="">Z</option>
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="">4</option>
        <option value="">5</option>
        <option value="">6</option>
        <option value="">7</option>
        <option value="">8</option>
        <option value="">9</option>
        <option value="">0</option>
      </select>
      <div class="hero__content-buttons">
        <div class="buttons-alphabet">
          <button type="button">A</button>
          <button type="button">B</button>
          <button type="button">C</button>
          <button type="button">D</button>
          <button type="button">E</button>
          <button type="button">F</button>
          <button type="button">G</button>
          <button type="button">H</button>
          <button type="button">I</button>
          <button type="button">J</button>
          <button type="button">K</button>
          <button type="button">L</button>
          <button type="button">M</button>
          <button type="button">N</button>
          <button type="button">O</button>
          <button type="button">P</button>
          <button type="button">Q</button>
          <button type="button">R</button>
          <button type="button">S</button>
          <button type="button">T</button>
          <button type="button">U</button>
          <button type="button">V</button>
          <button type="button">W</button>
          <button type="button">X</button>
          <button type="button">Y</button>
          <button type="button">Z</button>
        </div>
        <div class="buttons-numbers">
          <button type="button">1</button>
          <button type="button">2</button>
          <button type="button">3</button>
          <button type="button">4</button>
          <button type="button">5</button>
          <button type="button">6</button>
          <button type="button">7</button>
          <button type="button">8</button>
          <button type="button">9</button>
          <button type="button">0</button>
        </div>
      </div>
    </div>
    <img
      class="hero__picture"
      srcset="
        ./images/bcg-2/bcg2-mob@1x-min.png   307w,
        ./images/bcg-2/bcg2-mob@2x-min.png   613w,
        ./images/bcg-2/bcg2-tab@1x-min.png   364w,
        ./images/bcg-2/bcg2-tab@2x-min.png   728w,
        ./images/bcg-2/bcg2-desk@1x-min.png  529w,
        ./images/bcg-2/bcg2-desk@2x-min.png 1058w
      "
      sizes="(min-width:1280px) 501px, (min-width:768px) 336px, 
                (min-width:320px) 280px, 100vw"
      alt="Grapefruit cocktail"
    />
  </div>
</section>
