.cocktail-modal {
  display: block;
  position: fixed;
  padding: 40px 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $modal-bcg-color;
  z-index: 1;
  overflow-y: auto;

  color: $select-color;

  &.is-hidden {
    display: none;
  }

  @include mq(tab) {
    padding-top: 0;
    padding-bottom: 28px;
  }
}

.cocktail-modal__container {
  @include mq(tab) {
    position: relative;
    padding: 0;
  }
}

button[data-cocktail-modal-close] {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;

  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  @include mq(tab) {
    top: 12px;
    right: 12px;
  }
}

.cocktail-modal__btn-icon {
  width: 100%;
  height: 100%;
}

.cocktail-modal__title,
.cocktail-modal__title-tab {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.18;
  color: $primary-text-color;
}

.cocktail-modal__title {
  @include mq(tab) {
    display: none;
  }
}

.cocktail-modal__title-tab {
  margin-top: 40px;
  margin-bottom: 28px;

  @include mq(mob-only) {
    display: none;
  }
}

.cocktail-modal__subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.62;
  text-transform: uppercase;
  color: $primary-text-color;

  &--second {
    @include mq(tab) {
      margin-bottom: 8px;
    }
  }
}

.cocktail-modal__description {
  font-size: 16px;
  line-height: 1.75;

  @include mq(tab) {
    max-width: 615px;
  }
}

.cocktail-modal__picture {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 22px;

  @include mq(tab) {
    width: 288px;
    margin: 0;
  }
}

.cocktail-modal__ingredients {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: $primary-text-color;

  @include mq(tab) {
    margin-bottom: 8px;
  }
}

.cocktail-modal__item {
  font-size: 16px;
  line-height: 1.62;

  & span {
    color: $primary-text-color;
  }
}

.cocktail-modal__btn {
  @include mq(tab) {
    display: block;
    margin-left: auto;
    margin-right: 28px;
  }
}

// geometry

.cocktail-modal__content-wrapper {
  @include mq(tab) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.first-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;

  @include mq(tab) {
    gap: 24px;
    margin-left: 28px;
    margin-bottom: 40px;
  }
}

.second-content-wrapper {
  margin-bottom: 32px;

  @include mq(tab) {
    display: flex;
    gap: 32px;
    margin-bottom: 28px;
  }
}

.third-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include mq(tab) {
    gap: 0;
  }
}
