.gallery {
  padding-bottom: 60px;
}

.fav-gallery {
  padding-top: 60px;
  padding-bottom: 120px;

  @include mq(tab) {
    padding-top: 68px;
    padding-bottom: 60px;
  }
}

.gallery__title {
  max-width: 280px;
  margin: 0 auto 60px auto;

  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  text-align: center;

  @include mq(tab) {
    max-width: 331px;
    font-size: 32px;
    line-height: 1.31;
  }

  @include mq(desk) {
    max-width: 493px;
    font-size: 48px;
    line-height: 1.5;
  }
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @include mq(tab) {
    gap: 32px;
  }
}

.gallery__item {
  width: 280px;
  border: 1px solid $grapefruit-color;
  border-radius: 4px;
  cursor: pointer;

  transition: box-shadow $time $cubic;

  &:hover {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    border: none;
  }

  @include mq(tab) {
    width: calc((100% - 32px) / 2);
  }

  @include mq(desk) {
    width: calc((100% - 64px) / 3);
  }
}

.gallery__item-picture {
  margin-bottom: 48px;

  @include mq(tab) {
    margin-bottom: 20px;
  }
}

.gallery__item-title {
  margin-bottom: 16px;

  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  color: $primary-text-color;
  text-align: center;

  @include mq(tab) {
    margin-bottom: 25px;

    font-size: 28px;
    line-height: 1.8;
  }

  @include mq(desk) {
    margin-bottom: 27px;
  }
}

.gallery__buttons {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-bottom: 24px;

  @include mq(tab) {
    gap: 12px;
    margin-bottom: 20px;
  }

  @include mq(desk) {
    gap: 16px;
    margin-bottom: 28px;
  }
}

.gallery__btn-icon {
  width: 18px;
  height: 18px;

  @include mq(tab) {
    width: 24px;
    height: 24px;
  }

  @include mq(desk) {
    width: 21px;
    height: 19px;
  }

  &--hidden {
    display: none;
  }
}

.gallery__not-found {
  display: block;
  width: 280px;
  margin: 0 auto;

  &.is-hidden {
    display: none;
  }

  @include mq(tab) {
    width: 345px;
    height: 380px;
  }
}

.fav-gallery__not-found {
  display: block;
  max-width: 239px;
  margin: 0 auto;

  font-size: 20px;
  line-height: 3;
  color: $primary-text-color;
  text-align: center;

  &.is-hidden {
    display: none;
  }

  @include mq(tab) {
    max-width: 296px;
    font-size: 24px;
    line-height: 2.5;
  }

  @include mq(desk) {
    max-width: 385px;

    font-size: 32px;
    line-height: 2.25;
  }
}
