.header {
  position: relative;
  padding-top: 20px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 20px;

  @include mq(desk) {
    justify-content: start;
  }
}

.header__logo {
  position: relative;

  @include mq(desk) {
    align-self: flex-end;
    margin-right: 43px;
  }
}

.header__logo-text {
  font-size: 22px;
  line-height: 1.09;
  letter-spacing: 0.02em;
  color: $grapefruit-color;

  @include mq(tab) {
    font-size: 28px;
    line-height: 0.86;
  }
}

.header__logo-icon {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  bottom: 8px;
  left: 77px;
  z-index: -1;

  @include mq(tab) {
    left: 103px;
  }
}

.header__menu-btn,
button[data-burger-close] {
  background-color: transparent;
  border: none;
}

.header__menu-btn {
  width: 35px;
  height: 24px;

  @include mq(desk) {
    display: none;
  }
}

.header__menu-open-icon {
  width: 35px;
  height: 24px;
}

// header nav

.header__nav {
  margin-right: 251px;

  @include mq(not-desk) {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header__nav-item {
  padding-top: 10px;
}

.header__nav-link {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}

// header switcher

.header__switcher {
  display: flex;
  align-items: center;
  gap: 12px;

  @include mq(not-desk) {
    display: none;
  }
}

.header__switch {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: transparent;
  border: 0.6px solid $grapefruit-color;
  border-radius: 20px;
  cursor: pointer;
}

.header__switch input {
  display: none;
}

.header__slider {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.4s;
  cursor: pointer;

  &:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: 1.5px;
    left: 1px;
    background-color: $grapefruit-color;
    border-radius: 50%;
    transition: transform 0.4s;
  }
}

input:checked + .header__slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

// header tablet

.header__tablet-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;

  @include mq(desk) {
    gap: 172px;
  }
}

// header input

.header__search-wrapper {
  @include mq(mob-only) {
    display: none;
  }

  @include mq(tab) {
    & {
      display: none;
    }

    &.is-open {
      display: block;
      width: 288px;
      height: 40px;
      display: flex;
      align-items: center;

      border: 1px solid $grapefruit-color;
      border-radius: 4px;
    }
  }
}

.header__search {
  @extend .input;
  padding: 13px 8px;
}

// burger menu

.burger-menu {
  display: block;
  position: fixed;
  padding-top: 30px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $modal-bcg-color;
  z-index: 1;

  &.is-hidden {
    display: none;
  }
}

button[data-burger-close] {
  position: absolute;
  top: 22px;
  right: 20px;
  width: 32px;
  height: 32px;
}

.burger-menu__close-icon {
  width: 100%;
  height: 100%;
}

.burger-menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 44px;

  @include mq(tab) {
    margin-bottom: 54px;
  }
}

.burger-menu__logo-wrapper {
  display: flex;
  gap: 60px;
}

.burger-menu__logo {
  display: none;

  @include mq(tab) {
    display: block;
    font-size: 28px;
    line-height: 0.86;
  }
}

// switcher

.switcher {
  display: flex;
  align-items: center;
  gap: 9px;
}

.switch {
  display: block;
  position: relative;
  width: 40px;
  height: 16px;
  background-color: transparent;
  border: 1px solid $grapefruit-color;
  border-radius: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.4s;
  cursor: pointer;

  &:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    top: 1px;
    left: 1px;
    background-color: $grapefruit-color;
    border-radius: 50%;
    transition: transform 0.4s;
  }
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.switcher__text {
  font-size: 18px;
  color: $select-color;

  &--light {
    letter-spacing: 0.02em;
    color: $grapefruit-color;
  }
}

// input

.burger-menu__search-wrapper {
  display: none;

  @include mq(mob-only) {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0 auto 40px auto;
    display: flex;
    align-items: center;

    border: 1px solid $grapefruit-color;
    border-radius: 4px;
  }
}

.burger-menu__search {
  @extend .input;
  padding: 8px;
}

// nav

.burger-menu__nav {
  @include mq(tab) {
    display: flex;
    justify-content: center;
  }
}

.burger-menu__nav-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.burger-menu__nav-item {
  padding: 10px 0;
}

.burger-menu__nav-item--fav {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.burger-menu__nav-link {
  font-size: 28px;
  line-height: 0.86;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}

.burger-menu__nav-icon {
  width: 18px;
  height: 18px;
}
