.header {
  position: relative;
  padding-top: 20px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 20px;

  @include mq(desk) {
    justify-content: start;
  }
}

.header__logo {
  position: relative;

  @include mq(desk) {
    align-self: flex-end;
    margin-right: 43px;
  }
}

.header__logo-text {
  font-size: 22px;
  line-height: 1.09;
  letter-spacing: 0.02em;
  color: $grapefruit-color;

  @include mq(tab) {
    font-size: 28px;
    line-height: 0.86;
  }
}

.header__logo-icon {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  bottom: 8px;
  left: 77px;
  z-index: -1;

  @include mq(tab) {
    left: 103px;
  }
}

.header__menu-btn,
button[data-burger-close] {
  background-color: transparent;
  border: none;
}

.header__menu-btn {
  width: 35px;
  height: 24px;
  color: $primary-text-color;

  @include mq(desk) {
    display: none;
  }
}

.header__menu-open-icon {
  width: 35px;
  height: 24px;
  fill: currentColor;
}

// header nav

.header__nav {
  margin-right: 251px;

  @include mq(not-desk) {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header__nav-item {
  padding-top: 10px;
}

.header__nav-item-fav {
  position: relative;
  cursor: pointer;
  @extend .header__nav-link;
}

.header__nav-link {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}

// header subnav

// .subnav {
//   position: absolute;
//   opacity: 0;
//   width: 240px;
//   background-color: $modal-bcg-color;
//   border: 1px solid $grapefruit-color;
//   border-radius: 4px;

//   transition: opacity $time $cubic;
// }

// .header__nav-item-fav:hover .subnav {
//   opacity: 1;
// }

// .subnav-item {
//   padding: 12px;
//   transition: background-color $time $cubic;

//   &:hover {
//     background-color: $grapefruit-color;
//   }
// }

// .subnav-link {
//   font-size: 18px;
//   line-height: 1.33;
//   letter-spacing: 0.02em;
//   color: $primary-text-color;
//   transition: color $time $cubic;

//   .subnav-item:hover & {
//     color: $secondary-text-color;
//   }
// }

// header switcher

.header__switcher {
  display: flex;
  align-items: center;
  gap: 12px;

  @include mq(not-desk) {
    display: none;
  }
}

.header__switch {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: transparent;
  border: 0.6px solid $grapefruit-color;
  border-radius: 20px;
  cursor: pointer;
}

.header__switch input {
  display: none;
}

.header__checkbox-bcg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 20px;
}

input:checked + .header__checkbox-bcg {
  background-color: $grapefruit-color;
  border: none;
}

.header__slider {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.4s;
  cursor: pointer;

  &:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: 1.5px;
    left: 1px;
    background-color: $grapefruit-color;
    border-radius: 50%;
    transition: transform 0.4s;
  }
}

input:checked ~ .header__slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: $modal-bcg-color;
}

// header tablet

.header__tablet-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;

  @include mq(desk) {
    gap: 172px;
  }
}

// header input

.header__search-wrapper {
  @include mq(mob-only) {
    display: none;
  }

  @include mq(tab) {
    & {
      display: none;
    }

    &.is-open {
      display: block;
      width: 288px;
      height: 40px;
      display: flex;
      align-items: center;

      border: 1px solid $grapefruit-color;
      border-radius: 4px;
    }
  }
}

.header__search {
  @extend .input;
  padding: 13px 8px;
}
